{% load i18n %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <title>{% trans "Quiz" %}</title>
</head>
<body>
    <h1>{% trans "Quiz" %}</h1>
    <p>{% trans "Time left" %}: {{ time_left }} {% trans "seconds" %}</p>
    <p>{% trans "Student Code" %}: {{ attempt.student.unique_code }}</p>

    {% for question in questions %}
        <div>
            <h3>{{ question.text_uz }}</h3>
            {% if lang == 'ru' %}
                <h3>{{ question.text_ru }}</h3>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="question_id" value="{{ question.id }}">
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice_id" value="{{ choice.id }}">
                    {% if lang == 'uz' %}
                        {{ choice.text_uz }}<br>
                    {% else %}
                        {{ choice.text_ru }}<br>
                    {% endif %}
                {% endfor %}
                <button type="submit" name="skip">{% trans "Skip" %}</button>
                <button type="submit">{% trans "Submit" %}</button>
            </form>
        </div>
    {% endfor %}
</body>
</html>